/*estilos de mi primer cuadro sectionCode*/

* {
	font-family: 'Roboto Mono', monospace;
	margin: 0;
	padding: 0;
}
.containerCode{
width: 100%;
height:1000px;
}
.containerCode header{
	height: auto;
	width: 100%;
	position: fixed;
	z-index: 100;
	background-color:#6AD2F3;
}
.containerCode header nav h1{
	color:#fff;
	font-size: 34px;
		padding: 8px;
		text-align: center;
	}
.containerCode section{
	background-image: url(../img/twitter.png);
		height:800px;
	background-position:center;
}

.containerCode section #sectionCode{
	height:250px;
	width: 500px;
	background-color:#fff;
	position: relative;
    left:80px;
	top: 100px; 
	
}
section  h3{
	position: relative;
	left:35px;
	top: 35px;
	letter-spacing: 5px;
}
section p{
	position: relative;
	left:35px;
	top: 65px;
	letter-spacing: 3px;
    font-weight: 600;
}
section h4 {
	position: relative;
	left:35px;
	top: 115px;
	padding-top: 15px;
	letter-spacing: 3px;
    font-weight: 600;
    color:#567689;
  }
  section hr{
  	width: 100%;
  	height:1px;
  	border:none;
  	position: relative;
  	top: 90px;
  	background-color:#bfc7d9;
  }

  /*termino de mi sectionCode*/

  /*comienzo de mi sectionInteraction*/

   .container {

  	background-color: #fff;
	width:450px;
	height:auto;
	position: relative;
	left:200px;
	bottom: 700px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 14px;
	padding-right: 14px;
}

textarea {
	width:100%;
	height:100px;
	color: #4E4D53;
	font-size: 15px;
	border:none;
	border-bottom: 3px solid #6AD2F3;
	margin: 0 auto;
}
button{
	position: relative;
	right:130px;
	bottom: 25px;
}

#btn {
	background-color:#6AD2F3;
	border: 0px;
	cursor: pointer;
	text-align: center;
	margin: 3em auto;
	width: 130px;
	height: 30px;
	display: block;
	color: #FFF;
}
 counter .yellow{
	color:yellow;
}

 counter .red{
    color:red;
}

#btn:focus, textarea:focus{
	outline: none;
}
#cont {
	border-radius: 0.4em;
	position: relative;
	right: 570px;
	top:55px;
	width:1200px;
	margin: 0 auto;
	color: #000;
	text-align:right;
	
}
#cont div{
	width:1200px;
	display: inline-block;
	height:auto;
	position: relative;
	float:left;
    left: 15px;
    bottom: 10px;
	margin-bottom: 2em;
	border: 1px solid #6AD2F3;
	padding: 1em 0.5em;
	background-color: #FFF;
	border-radius: 15px;padding: 1em 0.5em;
}

 .container #cont p {
 	float:left;
 	color: #000;
	display: inline-block;
	position: relative;
}

